{% extends "index.html"%}

{% block del_popular %}
    <div class="center">
        <h1 class="details-title">{{ article.title }}</h1>
        <div class="details-bar">
            <p><span>发布时间：</span>{{ article.pub_date }}</p>
            <p><span>作者：</span>{{ article.author }}</p>
            <p><span>阅读：</span>{{ article.views }}</p>
        </div>
        <div style="border-bottom: 1px dashed #ccc; margin: 0 10px;"></div>

        <div class="details-note">
            <span style="font-weight: bold;">内容摘要：</span>
            <span>
                {{ article.cont_synopsis }}
            </span>
        </div>

        <div style="margin: 8px;">
            {% autoescape off %}
            {{ article.content }}
            {% endautoescape %}

        </div>
    </div>


{% endblock %}