<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>书法欣赏-高清晰书法作品图片欣赏网</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="/static/css/swiper.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/swiper.min.js"></script>
</head>
<body>
    
    <header>
        <div id="time"></div>
        <div class="logo">
            <img src="../media/static/images/header_cover/2.png" alt="">
        </div>

        <!-- 分类 -->
        <div class="topnav" id="topnav">
            <div class="topnav-son">
                <div><a href="#">网站首页</a></div>
            </div>

            {% for categoty1 in categoty1 %}
                <div class="topnav-son">
                    <a href="{% url 'app:one_categoty_article_list' categoty1.id %}" target="_blank"><div>{{ categoty1.name }}</div></a>
                    {% for categoty2 in categoty2 %}
                        {% if categoty2.parent_category_id == categoty1.id %}
                            <a href="{% url 'app:categoty_article_list' categoty2.id %}" target="_blank"><div>{{ categoty2.name }}</div></a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- 搜索 -->
        <form action="{% url 'app:search' %}" method="post" class="form" target="_blank">
            <input type="text" name="keyword">
            <input type="submit" value="搜索">
        </form>

        <!-- 轮播图 -->
        <div class="swiper-container" style="margin-top: 10px;">
            <div class="swiper-wrapper">
                {% for banner in banner_list %}
                    <div class="swiper-slide"><img src="/media/{{ banner.banner_cover }}" alt=""></div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </header>


    <div class="content">
        <div class="content-box">
            <div class="content-head">
                <div>
                    <span style="display: inline-block;height: 12px; width: 2px;background: red;margin-right: 6px;"></span>
                    热门阅读
                </div>
                <div style="color: #444;cursor: pointer;" onclick="window.open( '{% url "app:popular_articles_list" %}', '_blank ' )">更多>></div>
            </div>
            <!-- 热门文章 -->
            {% for popular_articles in popular_articles_list %}
                <div class="box-list">
                    <div class="box-img" onclick="window.open( '{% url "app:article_detail" popular_articles.id %}', '_blank ' )"><img
                            src="/media/{{ popular_articles.article_cover }}"
                            alt=""></div>
                    <div class="box-content">
                        <h4 style="color: #000;margin: 0 10px 10px 0;cursor: pointer;" onclick="window.open( '{% url "app:article_detail" popular_articles.id %}', '_blank ' )">
                            {{ popular_articles.title }}</h4>
                        <div style="text-indent: 2em;font-size: 12px;color: #484748;line-height: 21px;">
                            {{ popular_articles.cont_synopsis }}...
                            <span style="color: #bf3131;cursor: pointer;" onclick="window.open( '{% url "app:article_detail" popular_articles.id %}', '_blank ' )">阅读全文>></span>
                        </div>
                        {% for categoty in categoty2 %}
                            {% if popular_articles.category_id == categoty.id %}
                                <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                                    <div style="color: #bf3131;font-size: 12px;">标签：<span onclick="window.open('{% url "app:categoty_article_list" categoty.id %}')"
                                            style="color: #a59ea3;cursor: pointer;">{{ categoty.name }}</span></div>
                                    <div style="color: #959495;font-size: 12px;">{{ popular_articles.pub_date }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="content-nav">
            <div class="nav-item">
                <div class="head">最新发布</div>
                <!-- 最新发布 -->
                {% for article_publish_recently in article_publish_recently_list %}
                    <!-- 最新发布名称 -->
                    <div class="item">
                        {% for categoty in categoty2 %}
                            {% if article_publish_recently.category_id == categoty.id %}
                                <span style="color: #bf3131;" onclick="window.open('{% url "app:categoty_article_list" categoty.id %}')">[{{ categoty.name }}]</span>
                            {% endif %}
                        {% endfor %}


                        <span onclick="window.open( '{% url "app:article_detail" article_publish_recently.id %}', '_blank ' )">{{ article_publish_recently.title }}</span>
                    </div>

                {% endfor %}


{#                <div class="item"><span style="color: #bf3131;">[毛笔书法]</span>“防控疫情·万众一心”主题书法</div>#}
{#                <div class="item"><span style="color: #bf3131;">[毛笔书法]</span>“防控疫情·万众一心”主题书法</div>#}
{#                <div class="item"><span style="color: #bf3131;">[毛笔书法]</span>“防控疫情·万众一心”主题书法</div>#}
{#                <div class="item"><span style="color: #bf3131;">[毛笔书法]</span>“防控疫情·万众一心”主题书法</div>#}
{#                <div class="item"><span style="color: #bf3131;">[毛笔书法]</span>“防控疫情·万众一心”主题书法</div>#}
{#                <div class="item"><span style="color: #bf3131;">[毛笔书法]</span>“防控疫情·万众一心”主题书法</div>#}
{#                <div class="item"><span style="color: #bf3131;">[毛笔书法]</span>“防控疫情·万众一心”主题书法</div>#}
            </div>

            <div class="nav-item">
                <div class="head">友情链接</div>

                <!-- 友情链接 -->
                {% for friendly_link in friendly_link_list %}
                    <!-- 友情链接名称 -->
                    <div class="item" onclick="window.open( '{{ friendly_link.link }}', '_blank ' )">{{ friendly_link.title }}</div>
                    <!-- 友情链接地址 -->
                {% endfor %}

{#                <div class="item">书法作品欣赏</div>#}
{#                <div class="item">字帖</div>#}
{#                <div class="item">书法字体在线生成</div>#}
{#                <div class="item">繁体字转换器</div>#}
{#                <div class="item">书法字典</div>#}
            </div>
        </div>
    </div>

</body>

<script>
    function getCurrentDate() {

        var myDate = new Date();
        var year = myDate.getFullYear(); //年
        var month = myDate.getMonth() + 1; //月
        var day = myDate.getDate(); //日
        var days = myDate.getDay();
        switch(days) {
            case 1:
                    days = '星期一';
                    break;
            case 2:
                    days = '星期二';
                    break;
            case 3:
                    days = '星期三';
                    break;
            case 4:
                    days = '星期四';
                    break;
            case 5:
                    days = '星期五';
                    break;
            case 6:
                    days = '星期六';
                    break;
            case 0:
                    days = '星期日';
                    break;
        }

        var str = year + "年" + month + "月" + day + "日  " + days;
        return str;

    }

    $('#time').html(getCurrentDate())
    setInterval(() => {
        $('#time').html(getCurrentDate())
    }, 1000 * 60 * 60);


    // swiper 轮播图
    var swiper = new Swiper('.swiper-container', {
	  loop: true,
	  speed: 2500,
      slidesPerView: 7,
      spaceBetween: 30,
	  centeredSlides : true,
      watchSlidesProgress : true,
      autoplay:{
        delay: 1000,
        autopalyDisableOnInteraction: false,
        disableOnInteraction: false,
      },
	  on: {
	    setTranslate: function(){
			slides = this.slides
			for(i=0; i< slides.length; i++){
				slide = slides.eq(i)
				progress = slides[i].progress
				//slide.html(progress.toFixed(2)); 看清楚progress是怎么变化的
				    slide.css({'opacity': '','background': ''});slide.transform('');//清除样式
					
					slide.css('opacity',(1-Math.abs(progress)/6));
					slide.transform('translate3d(0,'+ Math.abs(progress)*20+'px, 0)');  
					
			}	
		},
		setTransition: function(transition) {
			for (var i = 0; i < this.slides.length; i++) {
				var slide = this.slides.eq(i)
				slide.transition(transition);
			}
		},
	  },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });

</script>
</html>