<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="/static/css/swiper.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/swiper.min.js"></script>
</head>
<body>
    
    <header>
        <div id="time"></div>
        <div class="logo">
            <img src="../media/static/images/header_cover/1.png" alt="">
        </div>

        <!-- 分类 -->
        <div class="topnav" id="topnav">
            <div class="topnav-son">
                <div><a href="#">网站首页</a></div>
            </div>

            {% for categoty1 in categoty1 %}
                <div class="topnav-son">
                    <a href="{% url 'app:categoty_article_list' categoty1.id %}" target="_blank"><div>{{ categoty1.name }}</div></a>
                    {% for categoty2 in categoty2 %}
                        {% if categoty2.parent_category_id == categoty1.id %}
                            <a href="{% url 'app:categoty_article_list' categoty2.id %}" target="_blank"><div>{{ categoty2.name }}</div></a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- 搜索 -->
        <form action="{% url 'app:search' %}" method="post" class="form" target="_blank">
            <input type="text" name="keyword">
            <input type="submit" value="搜索">
        </form>

        <!-- 轮播图 -->
        <div class="swiper-container" style="margin-top: 10px;">
            <div class="swiper-wrapper">
                {% for banner in banner_list %}
                    <div class="swiper-slide"><img src="/media/{{ banner.banner_cover }}" alt=""></div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>

    <div>
        <!-- 热门文章 -->
        {% for popular_articles in popular_articles_list %}

        {% endfor %}

    </div>
    <div>
        <!-- 友情链接 -->
        {% for friendly_link in friendly_link_list %}
            <!-- 友情链接名称 -->
            <p>{{ friendly_link.title }}</p>
            <!-- 友情链接地址 -->
            <p>{{ friendly_link.link }}</p>
        {% endfor %}

    </div>
    <div>
        <!-- 最新发布 -->
        {% for article_publish_recently in article_publish_recently_list %}
            <!-- 友情链接名称 -->
            <p>{{ article_publish_recently.title }}</p>

        {% endfor %}

    </div>



    </header>

</body>

<script>
    function getCurrentDate() {

        var myDate = new Date();
        var year = myDate.getFullYear(); //年
        var month = myDate.getMonth() + 1; //月
        var day = myDate.getDate(); //日
        var days = myDate.getDay();
        switch(days) {
            case 1:
                    days = '星期一';
                    break;
            case 2:
                    days = '星期二';
                    break;
            case 3:
                    days = '星期三';
                    break;
            case 4:
                    days = '星期四';
                    break;
            case 5:
                    days = '星期五';
                    break;
            case 6:
                    days = '星期六';
                    break;
            case 0:
                    days = '星期日';
                    break;
        }

        var str = year + "年" + month + "月" + day + "日  " + days;
        return str;

    }

    $('#time').html(getCurrentDate())
    setInterval(() => {
        $('#time').html(getCurrentDate())
    }, 1000 * 60 * 60);


    // swiper 轮播图
    var swiper = new Swiper('.swiper-container', {
	  loop: true,
	  speed: 2500,
      slidesPerView: 7,
      spaceBetween: 30,
	  centeredSlides : true,
      watchSlidesProgress : true,
      autoplay:{
        delay: 1000,
        autopalyDisableOnInteraction: false,
        disableOnInteraction: false,
      },
	  on: {
	    setTranslate: function(){
			slides = this.slides
			for(i=0; i< slides.length; i++){
				slide = slides.eq(i)
				progress = slides[i].progress
				//slide.html(progress.toFixed(2)); 看清楚progress是怎么变化的
				    slide.css({'opacity': '','background': ''});slide.transform('');//清除样式
					
					slide.css('opacity',(1-Math.abs(progress)/6));
					slide.transform('translate3d(0,'+ Math.abs(progress)*20+'px, 0)');  
					
			}	
		},
		setTransition: function(transition) {
			for (var i = 0; i < this.slides.length; i++) {
				var slide = this.slides.eq(i)
				slide.transition(transition);
			}
		},
	  },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });

</script>
</html>