{% extends "index.html"%}

{% block del_popular %}
        {% for categoty_article in categoty_article_list %}
            {% for article in categoty_article %}


                <div class="box-list" style="border: 1px solid #ccc; margin-left: 5px; padding: 10px 0 10px 5px;">
                    <div class="box-img" onclick="window.open( '{% url "app:article_detail" article.id %}', '_blank ' )" style="padding: 1px; border:1px solid #ccc;">
                        <img src="/media/{{ article.article_cover }}" alt="">
                    </div>
                    <div class="box-content">
                        <h4 style="color: #000;margin: 0 10px 10px 0;cursor: pointer;" onclick="window.open( '{% url "app:article_detail" article.id %}', '_blank ' )">
                            {{ article.title }}</h4>
                        <div style="text-indent: 2em;font-size: 12px;color: #484748;line-height: 21px;">
                            {{ article.cont_synopsis }}...
                            <span style="color: #bf3131;cursor: pointer;" onclick="window.open( '{% url "app:article_detail" article.id %}', '_blank ' )">阅读全文>></span>
                        </div>
                        {% for categoty in categoty2 %}
                            {% if article.category_id == categoty.id %}
                                <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                                    <div style="color: #bf3131;font-size: 12px;">标签：<span onclick="window.open('{% url "app:categoty_article_list" categoty.id %}')"
                                            style="color: #a59ea3;cursor: pointer;">{{ categoty.name }}</span></div>
                                    <div style="color: #959495;font-size: 12px;">{{ article.pub_date }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
        {% endfor %}

{% endblock %}